:root {
    --color-primary: #EEECE8;
    --color-primary-dark: #D4CFD4;
    --font-color-primary: #23211A;
    --color-secondary: #D4D0C4;
    --color-secondary-dark: #BAB4A0;
    --font-color-secondary: #23211A;
    --color-tertiary: #484233;
    --color-tertiary-dark: #23211A;
    --font-color-tertiary: #F6F6F3;
    --color-success: #2e7d32;
    --color-danger: #c62828;
    --color-warning: #f9a825;
    --color-info: #0288d1;
    --color-light: #f8f9fa;
    --color-dark: #343a40;
    --color-background: #F6F6F3;
    --color-surface: #f1f3f5;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--color-background);
    color: var(--font-color-primary);
    height: 100dvh;
}

a.no-style {
    text-decoration: none;
}

a:hover {
    color: #CC3333;
}

.without-border {
    outline: none;
    border: none;
    box-shadow: none;
}

.hide-text {
    font-size: 0;
}