html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F8FAFC;
    color: #334155;
}

a.no-style {
    text-decoration: none;
}

a:hover {
    color: #CC3333;
}

.without-border {
    outline: none;
    border: none;
    box-shadow: none;
}

.my-btn {
    outline: none;
    border: none;
    box-shadow: none;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: transparent;
}

    .my-btn.active {
        color: #1d3347;
        border: 1px solid #1d3347;
    }

.my-btn-primary {
    background-color: #1d3347;
    color: #E8F1F2;
}

    .my-btn-primary:hover {
        background-color: #13293d;
    }

.my-btn-outline-primary {
    color: #1d3347;
    border: 1px solid #1d3347;
}

    .my-btn-outline-primary:hover {
        background-color: #13293d20;
    }

.my-btn-outline-danger {
    border: 1px solid #CC3333;
    color: #CC3333;
}

    .my-btn-outline-danger:hover {
        background-color: #CC333320;
    }

.my-btn-link {
    color: #1d3347;
}
    .my-btn-link:hover {
        color: #13293d;
    }
